[pylint.FORMAT]
max-line-length = 120

[pylint.'MESSAGES CONTROL']
disable = missing-docstring, line-too-long

[pylint.DESIGN]
min-public-methods = 1
max-attributes = 15
max-args = 10

[pylint.MAIN]
ignore = Makefile, README.md, setup.cfg, pyproject.toml, poetry.lock, LICENSE
